In [1]:
import pandas as pd

In [2]:
RollNo = [1,2,3,4,5,6,7,8,9,10]
fName = ["A", "B","C","A","A","B","C","D","d","A"]
lName =    ["B", "B","A","A","A","B","c","A","d","d"]

In [3]:
data = {"id" : RollNo, "firstName" : fName,"lastName" : lName}

In [4]:
 dataframe= pd.DataFrame(data)

In [5]:
dataframe

   id firstName lastName
0   1         A        B
1   2         B        B
2   3         C        A
3   4         A        A
4   5         A        A
5   6         B        B
6   7         C        c
7   8         D        A
8   9         d        d
9  10         A        d

In [6]:
dataframe.columns

Index(['id', 'firstName', 'lastName'], dtype='object')

In [7]:
dataframe.shape

(10, 3)

In [10]:
dataframe.head(6)

   id firstName lastName
0   1         A        B
1   2         B        B
2   3         C        A
3   4         A        A
4   5         A        A
5   6         B        B

In [13]:
dataframe.tail(8)

   id firstName lastName
2   3         C        A
3   4         A        A
4   5         A        A
5   6         B        B
6   7         C        c
7   8         D        A
8   9         d        d
9  10         A        d

In [14]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         10 non-null     int64
 1   firstName  10 non-null     object
 2   lastName   10 non-null     object
dtypes: int64(1), object(2)
memory usage: 368.0+ bytes

In [15]:
dataframe.dtypes

id            int64
firstName    object
lastName     object
dtype: object

In [16]:
dataframe["firstName"] == "A"

0     True
1    False
2    False
3     True
4     True
5    False
6    False
7    False
8    False
9     True
Name: firstName, dtype: bool

In [17]:
dataframe.loc[dataframe["firstName"] == "A",]

   id firstName lastName
0   1         A        B
3   4         A        A
4   5         A        A
9  10         A        d

In [18]:
dataframe.loc[dataframe["firstName"] == "A",["id","lastName"]]

   id lastName
0   1        B
3   4        A
4   5        A
9  10        d

## or

In [19]:
condition1 = dataframe["firstName"] == "A" 
condition1

0     True
1    False
2    False
3     True
4     True
5    False
6    False
7    False
8    False
9     True
Name: firstName, dtype: bool

In [20]:
condition2 = dataframe["lastName"] == "A"
condition2

0    False
1    False
2     True
3     True
4     True
5    False
6    False
7     True
8    False
9    False
Name: lastName, dtype: bool

In [21]:
condition1 | condition2

0     True
1    False
2     True
3     True
4     True
5    False
6    False
7     True
8    False
9     True
dtype: bool

In [22]:
dataframe.loc[condition1 | condition2,]

   id firstName lastName
0   1         A        B
2   3         C        A
3   4         A        A
4   5         A        A
7   8         D        A
9  10         A        d

In [14]:
(dataframe["firstName"] == "A" ) | (dataframe["lastName"] == "A" )

0     True
1    False
2     True
3     True
4     True
5    False
6    False
7     True
8    False
9     True
dtype: bool

In [ ]:
dataframe.loc[,]

In [24]:
dataframe.loc[(dataframe["firstName"] == "A" ) | (dataframe["lastName"] == "A" ),["lastName","id"]]

  lastName  id
0        B   1
2        A   3
3        A   4
4        A   5
7        A   8
9        d  10

### and

In [23]:
condition1 & condition2

0    False
1    False
2    False
3     True
4     True
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [24]:
abc = dataframe.loc[condition1 & condition2,]

In [25]:
abc

   id firstName lastName
3   4         A        A
4   5         A        A

In [49]:
dataframe.loc[0:3,]

   id firstName lastName
0   1         A        B
1   2         B        B
2   3         C        A
3   4         A        A

True     or   True    =  True
True     or   False    =  True
False     or   False =      False

A =   condition1   
B =    condition2

In [37]:
x = 5 
y = 6

In [38]:
A =  x >= 7
A

False

In [39]:
B = y >= 6
B

True

In [40]:
c  =  A or B
c

True

In [8]:
#  and Operatoer

In [26]:
int(input("please enter your password"))

please enter your password 26

26

True     and    True    =  True
True     and    False    =  False
False     and    False =      False

In [21]:
numericGrade  = int(input("Enter the numeric grade"))

Enter the numeric grade 50

In [22]:
numericGrade

50

In [61]:
int(input())

 65

65

In [32]:
CGPA = input("please enter your CGPA")

please enter your CGPA 45

In [33]:
CGPA1 = int(CGPA)

In [34]:
if CGPA1 >= 50:
    print("pass")

In [35]:
CGPA2 = int(input("please enter your CGPA:"))

please enter your CGPA: 89

In [36]:
if CGPA2 >= 50:
    print("pass")

pass

## one-way Selection Statements: Syntax and Structure

if  <condition>:
     <sequence of statements>

1. The <condition> is a Boolean expression which consists of the Boolean values: True or False
2. These statements consist of a condition and just a single sequence of statements
3. A Boolean value is a result of a comparison expression. These expressions includes the following relational
operators: ==; ! =; <; >;<=;>=
 4. If the condition is True, the sequence of statements is executed. Otherwise, control proceeds to the next
statement outside the selection statement

In [65]:
numericGrade  = int(float(input("Enter the numeric grade")))
if numericGrade >= 50:
    print("pass")
if numericGrade < 50:
    print("Fail")

Enter the numeric grade 51.10

pass

In [66]:
numericGrade

51

In [26]:
numericGrade >= 50

False

In [ ]:
if numericGrade >= 50:
    print("pass")

question1:  we will calculate the square of a number if it greater than 5

In [38]:
number = int(input("please enter the number"))

please enter the number 2

In [39]:
if number > 5:
    print(number**2)

## Two-way Selection Statements: Syntax and Structure

if  <condition>:
    <sequence of statements1>
else:
     <sequence of statements2>

# Each <sequence of statements> must be indented at least one space beyond both symbols 'if' and 'else'
# If the condition is True, the first sequence of statements is executed. Otherwise, the second sequence of statements is executed. Then control proceeds to the next statement outside the selection statement

In [42]:
numericGrade  = int(input("Enter the numeric grade"))
if numericGrade >= 50:
    print("pass")
else:
    print("fail")

Enter the numeric grade 45

fail

In [43]:
password = input("Enter password")

Enter password Seneca

In [45]:
if password == 'savita':
    print("correct password")
else:
    print("Incorrect Password")

Incorrect Password

## Multi-way Selection Statements: Syntax and Structure

1. Multi-way statements consider each condition until one evaluates to True or they all evaluate to False
2. When a condition evaluates to True, the corresponding sequence of statements is executed and control skips to the end of the entire selection statement.
3. If no condition evaluates to True, then the corresponding <sequence of statements> to the trailing else is executed

In [58]:
numericGrade  =  int(input("please enter your grade"))
if numericGrade > 90:
    print("Grade A")
elif numericGrade > 80:
    print("Grade B")
elif numericGrade > 70:
    print("Grade C")
elif numericGrade > 60:
    print("Grade D")
elif numericGrade >  50:
    print("Grade E")
else :
    print("Fail")

please enter your grade 67

Grade D

Question2:  write a program to check whether a person is eligible for voting or not.(accept age from user)

In [67]:
age = int(input("please enter age"))
if age > 18:
    print("eligible")
else:
    print("Not Eligible")

please enter age 25

eligible

Question3: write a program to check whether a number is divisible by 7 or not.

In [55]:
num = int(input("please enter the number"))
if num  % 7 == 0:
    print("Number is divisible")
else:
    print("Number isn't divisible")

please enter the number 49

Number is divisible

Question4: write a program to display "Hello" if number entered by user is multiple of five, otherwise print "Bye"

question5 : write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria:
    cost price                 Tax
    > 100000                   15%
    >50000 and <= 10000        10%
    <= 50000                   5%

In [71]:
(120000*15)/100

18000.0

In [72]:
price = int(input("enter the price of bike"))
if price > 100000:
            print( (15 /100)*price)
elif price > 50000:
            print( (10 /100)*price)
else:
    print( (5 /100)*price)

enter the price of bike 120000

18000.0

Question6:  write a program to accept a number from 1 to 7 and display the name of the day like 1 for sunday, 2 for monday and so on.

In [ ]:
number ==  1

In [61]:
number  = int(input("Enter the number from 1 to 7: "))
if number == 1:
    print("sunday")
elif number == 2:
    print("Monday")
elif number == 3:
    print("Tuesday")
elif number == 4:
    print("Wednesday")
elif number == 5:
    print("Thursday")
elif number == 6:
    print("Friday")
else :
    print("Saturday")

Enter the number from 1 to 7:  7

Saturday

Question7 : write a program to find the lowest number out of two numbers excepted from user.

In [63]:
number1 = int(input("please enter first number: "))
number2 = int(input("please enter second number: "))
if number1 > number2 :
    print( "lowest number : ",number2)
else:
    print("lowest number : ",number1)

please enter first number:  28
please enter second number:  105

lowest number :  28

Question8 : write a program to find the largest number out of two numbers excepted from user.

In [ ]:
number1 = int(input("please enter first number: "))
number2 = int(input("please enter second number: "))
if number1 > number2 :
    print( "largest number : ",number1)
else:
    print("largest number : ",number2)

Question9 : write a program to check whether a person is senior citizen or not.

Question10 : write a program whether a number (excepted from user) is postive or negative.

In [65]:
number = int(input("please enter number: "))
if number > 0:
    print("number is positive")
else:
    print("number is negative")

please enter number:  -6

number is negative

Question11 : write a program whether a number (excepted from user) is even or odd.

In [66]:
number = int(input("please enter number: "))
if number % 2 ==  0:
    print("number is even")
else:
    print("number is odd")

please enter number:  4

number is even